.bg {
	height: 100vh;
	width: 100%;
	background-color: #557a95;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.about-home {
	display: flex;
	height: 100vh;
	width: 100%;
	justify-content: center;
	align-items: center;
	margin: 80px 15%;
}

.section-header {
	margin-top: 15px;
	margin-bottom: 30px;
	font-size: 40px;
	font-weight: 400;
}

.form-contact {
	width: 100%;
	padding-top: 5rem;
	display: block;
	position: relative;
}

.form-map img {
	max-width: 100%;
	height: auto;
}

.form {
	background-color: #15172b;
	border-radius: 20px;
	box-sizing: border-box;
	height: 500px;
	padding: 20px;
	width: 320px;
}

.input {
	background-color: #303245;
	border-radius: 12px;
	border: 0;
	box-sizing: border-box;
	color: #eee;
	font-size: 18px;
	height: 100%;
	outline: 0;
	padding: 4px 20px 0;
	width: 100%;
}

.submit-btn {
	background-color: #08d;
	border-radius: 12px;
	border: 0;
	box-sizing: border-box;
	color: #eee;
	cursor: pointer;
	font-size: 18px;
	height: 50px;
	margin-top: 38px;
	text-align: center;
	width: 100%;
}
